<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Price Check On {{market}}</title>
</head>
<body>
	<h1>{{market}}</h1>
	<ul>
		<li>WEEK - {{week}}</li>
		<li>MONTH - {{month}}</li>
		<li>DAY - {{day}}</li>
	</ul>
</body>
</html>