<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{market}}</title>
</head>
<body>
	<h1>{{market}}</h1>
	<ul>
		<li>{{week}}</li>
		<li>{{month}}</li>
		<li>{{day}}</li>
	</ul>
</body>
</html>